<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> b89e03d8198581da4cc16c11d1047ccf87214dc1
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
